/* Available theme colors (not exhaustive):
 * @accent_color
 * @success_color
 * @warning_color
 * @error_color
 *
 * @theme_bg_color
 * @theme_fg_color
 * @theme_selected_bg_color
 * @theme_selected_fg_color
 */

@define-color base00 #000f16;
@define-color base01 #0f2129;
@define-color base02 #203039;
@define-color base03 #495863;
@define-color base04 #999fa5;
@define-color base05 #c2c3c7;
@define-color base06 #dbdbdc;
@define-color base07 #f1f1f1;


/*********/
/** Bar **/
/*********/

window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.bar-workspaces {
    padding-left: 10px;
}

.bar-workspaces button {
    background-color: transparent;
    border-top: 3px solid @theme_bg_color;
    border-radius: 0px;
}

.bar-workspaces button.workspace-active {
    border-top: 3px solid @accent_color;
}

.bar-workspaces button.workspace-active:hover {
    background-color: @base01;
}

.bar-workspaces button.workspace-inactive:hover {
    background-color: @base01;
    border-top: 3px solid @base03;
}

.bar-systray {
    padding-right: 10px;
}

.bar-systray button {
    background-color: transparent;
    border-top: 3px solid @theme_bg_color;
    border-radius: 0px;
}

.bar-systray button:hover {
    background-color: @base01;
    border-top: 3px solid @base03;
}

.bar-clock {
    padding-right: 10px;
}


/*******************/
/** Notifications **/
/*******************/

window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
